header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64PX;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}
.burger-menu {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.burger-btn {
    background: none;
    border: none;
    font-size: 28PX;
    cursor: pointer;
    margin-right: 20PX;
    margin-left: 18PX;
}

.logo {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    
}

.logo img {
    width: 180PX;
    height: 36PX;
}

.phone {
    width: 30PX;
    height: 30PX;
    position: absolute;
    right: 0;
    margin-right: 30PX;
}

/* Стили для меню */
.menu {
    position: fixed;
    top: 50PX;
    left: -100%;
    height: calc(100vh - 50PX);
    transition: left 0.3s ease;
    z-index: 999;
    overflow-y: auto; 
}

.menu.active {
    left: 0;
}

.menu ul {
    list-style: none;
    margin-left: 20PX;
    padding-left: 0;
}
.menu li:first-child {
    align-items: flex-end;
    padding-right: 20PX;
}
.menu li {
    width: 260PX;
    min-height: 40PX;
    background-color: $base-color;
    margin: 2PX 0;
    border-radius: 4PX;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 24PX;
    font-weight: 500 !important;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f9f9f9;
    border-radius: 4PX;
    padding-left: 0;
    width: 100%;
    margin-left: 0 !important;
}

.dropdown-content.active {
    max-height: 100%; 
    
    padding-left: 0;
    width: 100%;
}
.dropdown-content li:first-child {
    align-items: flex-start;
    padding-right: 0;
}
.dropdown-content li {
    padding-top: 10PX;
    padding-bottom: 10PX;
    background: #fff;
    border-radius: 4PX;
    margin: 2PX 0;
    width: 100%;
}
.dropdown-content li a {
    color: $base-color;
    font-size: 12PX;
}
.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10PX 0;
    padding-left: 24PX;
}

.dropdown-toggle::after {
    content: url('/img/shevron.svg');
    font-size: 18PX;
    transition: transform 0.3s;
    margin-left: 10PX;
}

.dropdown-toggle.active::after {
    transform: rotate(90deg);
}

/* Крестик закрытия */
.close-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 16PX;
    cursor: pointer;
}

/* Затемнение фона */
.overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 998;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
.header_mob_tel {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 10PX 0;
}

.header_mob_tel img {
    width: 16PX;
    height: 16PX;
    margin-left: 24PX;
}
.header_mob_tel_wr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10PX;
}
.phone_header {
    width: 140PX;
    padding-left: 0 !important;
}
.menu_desk {
    display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
   .header {
    display: none;
   } 
  
.header_desk {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto 0 auto;
    max-width: 1024px;
    background: #fff;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    transition: all 0.3s ease; /* Добавляем плавный переход */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header_desk.scrolled {
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Добавляем тень при скролле */
}

   .logo {
    position: relative;
    left: 0;
    transform: none;
    
    margin-left: 50PX;
   }
   .logo img {
    width: 220PX;
    height: 44PX;
   }

.menu_desk {
    position: relative;
    display: flex;
    margin-left: 80PX;
}

.menu_desk > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu_desk > ul > li {
    position: relative;
    margin-right: 10PX;
}

.menu_desk a {
    text-decoration: none;
    color: $base-color;
    padding: 10PX 0;
    display: block;
    transition: color 0.3s;
    font-size: 14PX;
    font-weight: 600;
}

.menu_desk a:hover {
    color: #0066cc;
}

.dropdown_desk {
    position: relative;
}

.dropdown-toggle_desk {
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
    color: $base-color;
    font-size: 14PX;
    font-weight: 600;
}
.dropdown-toggle_desk img {
    margin-left: 10PX;
}
.dropdown-toggle_desk:hover {
    color: #0066cc;
}

.dropdown-content_desk {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    margin-top: 15PX;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 1000;
    max-height: auto;
    overflow-y: auto;
    padding-left: 0;
    display: block;
}

.dropdown_desk:hover .dropdown-content_desk {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Стили для вертикального меню */
.dropdown-content_desk {
    display: block;
}

.dropdown-content_desk li {
    display: block;
    width: 100%;
    max-width: 260px;
    border-radius: 4PX;
    background-color: #fff;
    margin: 0 0 2PX 0;
}

.dropdown-content_desk li a {
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    display: block;
}

.dropdown-content_desk li:last-child a {
    border-bottom: none;
}
.phone_desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14PX;
    font-weight: 600;
    color: $base-color;
    margin-right: 50PX;
}
.phone_desk img {
    margin-left: 24PX;
}
}