@import '../../node_modules/normalize.css/normalize.css';
// @import '../../node_modules/swiper/swiper.scss';

@import './breakpoints.scss';
@import './mixins.scss';

// ------------------------------------
//      V A R I A B L E S
// ------------------------------------

$font-family: 'Involve', sans-serif;
$font-color: #000;
$base-transition: all 230ms ease;

* {
    box-sizing: border-box;
    outline: none;
}
$base-color: #1B2A55;
$dark_blue: #34517F;

html, body {
    font-family: $font-family;
    color: $font-color;
    font-size: 16PX;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include respond-from('laptop-hdpi') {
        font-size: 18PX;
    }
    @include respond-from('2K') {
        font-size: 21PX;
    }
    @include respond-from('UHD') {
        font-size: 34PX;
    }
}
 body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; 
            margin: 0;
            background-color: $base-color;
        }
.main {
            flex: 1; 
        }
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    transition: $base-transition;
    @include respond-to('medium') {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// ------------------------------------
//      B L O C K S
// ------------------------------------

@import './blocks/typography.scss';
@import './blocks/buttons.scss';
@import './blocks/icons.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';

.logo {
    display: block;
    max-width: 150px;
    &__img {
        width: 100%;
    }
}
.btn:hover {
    cursor: pointer;
}
// ------------------------------------
//      S E C T I O N S
// ------------------------------------

/*banner*/

.banner {
    width: 100%;
background: url('../img/main/banner_mob.jpg') no-repeat;
background-size: cover;
aspect-ratio: 16 / 9.6;
margin-top: 64PX;
}
.banner_wr {
    color: #fff;
    width: 100%;
}
.banner_position {
    position: relative;
    width: 260PX;
    margin: 0 auto;
    padding-top: 25PX;
   
}
.banner_wr h1 {
    font-size: 26PX;
    font-weight: 700;
    width: 260PX;
    position: absolute;
    left: 30PX;
}
.banner_btn_wr {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 630%;
    left: 25PX;
}
.banner_btn_wr a {
    text-decoration: none;
    color: #fff;
}
.banner_btn_write {
    width: 100PX;
    height: 24PX;
    border-radius: 18PX;
    background: transparent;
    border: 1px solid #fff;
    font-size: 10PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10PX;
}
.banner_btn_service {
    width: 100PX;
    height: 24PX;
    border-radius: 18PX;
    background: #fff;
    border: 1px solid #fff;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gradient-text {
 font-size: 10PX;
    
      background-image: linear-gradient(to right, #1B2A55, #9C1F87);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; 
}
.banner_addr_wr {
    position: relative;
    width: 100%;
    color: #fff;
    margin-top: 10PX;
}
.banner_addr {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner_addr img {
    width: 16PX;
    height: 20PX;
    margin-right: 15PX;
}
.banner_addr_wr p {
font-size: 12PX;
font-weight: medium;
}
.banner_time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5PX;
}
.banner_time img {
    width: 16PX;
    height: 16PX;
    margin-right: 15PX;
}


/*services*/
.services h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 24PX;
    font-weight: 600;
    margin: 50PX 0 20PX 10PX;
}
/* Стили для поп-апа */
   .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }
    
    .popup-content {
        background-color: #fff;
        border-radius: 10px;
        max-width: 600px;
        width: 90%;
        position: relative;
    }
     .popup-content p {
        padding: 10PX;
     }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }
#popupTitle {
    background: $base-color;
    margin: 0;
    padding: 30PX 10PX 10PX 10PX;
    width: 100%;
    border-radius: 8PX 8PX 0 0;
    font-size: 18PX;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.services_wr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.service_card_wr {
    width: 50%;
    min-width: 150PX;
    width: 150PX;
    height: 170PX;
    border-radius: 8PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10PX;
    margin-bottom: 20PX;
}
.service_card_wr:nth-child(2n) {
    margin-left: 20PX;
}
.service_card_bot {
    background-color: #fff;
    border-radius: 0 0 8PX 8PX;
    height: 44PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_link {
color: #fff;
    font-size: 14PX;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.service_link img {
    width: 14PX;
    height: 10PX;
    margin: 25PX 10PX 0 10PX;
}
.service_link_text {
    padding: 18PX 0 0 10PX;
}
.service_icon {
    width: 36PX;
    margin: 0 0 10PX 10PX;
}
.service_card_back {
    height: 126PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service_btn {
    width: 100PX;
    height: 24PX;
    color: #fff;
    background: linear-gradient(to right, #1B2A55, #9C1F87);
    border-radius: 16PX;
    font-size: 12PX;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.service_card_wr:nth-child(1) {
    background: url('../img/main/service1.jpg') no-repeat;
     background-position: center;  
}
.service_card_wr:nth-child(2) {
    background: url('../img/main/service2.jpg') no-repeat;
    background-position: center;
}
.service_card_wr:nth-child(3) {
    background: url('../img/main/service3.jpg') no-repeat;
    background-position: center;
}
.service_card_wr:nth-child(4) {
    background: url('../img/main/service4.jpg') no-repeat;
    background-position: center;

}
.service_card_wr:nth-child(5) {
    background: url('../img/main/service5.jpg') no-repeat;
    background-position: center;
  
}
.service_card_wr:nth-child(6) {
    background: url('../img/main/service6.jpg') no-repeat;
    background-position: center;
 
}
.service_card_wr:nth-child(7) {
    background: url('../img/main/service7.jpg') no-repeat;
    background-position: center;
  
}
.service_card_wr:nth-child(8) {
    background: url('../img/main/service8.jpg') no-repeat;
    background-position: center;
   ;
}
.service_card_wr:nth-child(9) {
    background: url('../img/main/service9.jpg') no-repeat;
    background-position: center;

}
.service_card_wr:nth-child(10) {
    background: url('../img/main/service10.jpg') no-repeat;
    background-position: center;
   
}
.service_card_wr:nth-child(11) {
    background: url('../img/main/service11.jpg') no-repeat;
    background-position: center;

}
.service_card_wr:nth-child(12) {
    background: url('../img/main/service12.jpg') no-repeat;
    background-position: center;
  
}
.service_card_wr:nth-child(13) {
    background: url('../img/main/service13.jpg') no-repeat;
    background-position: center;
  
}
.service_card_wr:nth-child(14) {
    background: url('../img/main/service14.jpg') no-repeat;
    background-position: center;
   
}
.service_card_wr:nth-child(15) {
    background: url('../img/main/service15.jpg') no-repeat;
    background-position: center;
 
}
.service_card_wr:nth-child(16) {
    background: url('../img/main/service16.jpg') no-repeat;
    background-position: center;
  
}
.service_card_wr:nth-child(17) {
    background: url('../img/main/service17.jpg') no-repeat;
    background-position: center;
   
}
.service_card_wr:nth-child(18) {
    background: url('../img/main/service18.jpg') no-repeat;
    background-position: center;
   
}
.service_card_wr:nth-child(19) {
    background: url('../img/main/service19.jpg') no-repeat;
    background-position: center;
   
}
.service_card_wr:nth-child(20) {
    background: url('../img/main/service20.jpg') no-repeat;
    background-position: center;
 
}
.service_card_wr:nth-child(21) {
    background: url('../img/main/service21.jpg') no-repeat;
    background-position: center;
   
}
.service_card_wr:nth-child(22) {
    background: url('../img/main/service22.jpg') no-repeat;
    background-position: center;
  
}
/*call_form*/
.call_form {
    max-width: 375PX;
    margin: 200PX auto 100PX auto;
    
}
.call_form_title_wr {
    width: 340PX;
    padding-top: 0PX;
    padding-left: 35PX;
    background-color: $base-color;
    z-index: 10;
    position: relative;
}
.call_form_title_wr h2, .call_form_title_wr h3 {
    color: #fff;
    font-weight: 600;
}
.call_form_title_wr h2 {
    font-size: 22PX;
    
}
.call_form_title_wr h3 {
    font-size: 18PX;
    padding-top: 0PX;
    margin-top: 0PX;
}

.call_form_back {
    background-color: transparent;
    border: 4PX solid #fff;
    width: 204PX;
    height: 334PX;
    margin-top: -228PX;
    margin-left: 145PX;
    z-index: 1;
    position: relative;
}
.feedback_form_main {
    width: 288PX;
    height: 385PX;
    background-color: $dark_blue;
    border-radius: 8PX;
    margin: -80PX 0 0 30PX;
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.feedback-form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback_form_main h3 {
    color: #fff;
    font-size: 20PX;
    font-weight: 600;
    padding-top: 30PX;
    padding-left: 20PX;
}
.form-group_main {
display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group_main input {
    width: 245PX;
    height: 45PX;
    border-radius: 4PX;
    border: none;
    margin-bottom: 10PX;
    padding: 15PX;
}
.checkbox-label_main {
    margin-left: 25PX;
    margin-top: 10PX;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#agree_main {
    width: 24PX;
    height: 24PX;
    color: $dark_blue;
    margin-right: 10PX;
}
.checkbox-label_main span {
    color: #fff;
    font-size: 14PX;
    font-weight: 400;
}
.submit-button_main {
     width: 245px;
  height: 45px;
  padding-left: 22px;
  padding-right: 22px;
  background: linear-gradient(90deg, #1B2A55 0%, #9C1F87 100%);
  border-radius: 12px;
  outline: 1px var(--White, white) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  margin-top: 30PX;
  font-size: 22PX;
  cursor: pointer;
}

/*swiper-cert*/
.swiper_cert {
height: 440PX;
background: linear-gradient(180deg, rgba(110.50, 45.30, 99.55, 0.60) 0%, #51256A 30%, #1B2A55 100%);
}
.swiper_cert h2 {
    color: #fff;
    padding-top: 40PX;
    padding-bottom: 20PX;
    font-size: 24PX;
    margin-left: 5PX;
}

.swiper-cert {
  width: 100%;
  overflow: hidden;
  height: 310PX;
  padding: 0 calc((100% - 220PX) / 2);

}

.swiper-cert .swiper-wrapper {
  width: auto !important; 
  display: flex;
}

.swiper-cert .swiper-slide {

  flex-shrink: 0;
}
.swiper-cert .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-cert .swiper-slide:first-child {
  margin-left: 10PX;
}
/*news_slider*/
.swiper_news {
background: linear-gradient(360deg, rgba(110.50, 45.30, 99.55, 0.60) 0%, #51256A 30%, #1B2A55 100%);

}
.swiper_news h2 {
    color: #fff;
    padding-top: 40PX;
    padding-bottom: 20PX;
    font-size: 24PX;
    margin-left: 5PX;
}

.swiper-news {
  width: 100%;
  overflow: hidden;
  height: 195PX;
  padding: 0 calc((100% - 220PX) / 2);
    margin-bottom: 100PX;
}

.swiper-news .swiper-wrapper {
  width: auto !important; 
  display: flex;
}

.swiper-news .swiper-slide {
  flex-shrink: 0;
}
.swiper-news .swiper-slide img {
    width: 60PX;
    height: 100%;
    object-fit: contain;
}
.swiper-news .swiper-slide:first-child {
  margin-left: 10PX;
}
.slide_news_wr {
    min-width: 220PX !important;
height: 155PX !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $dark_blue;
  border-radius: 12PX;
  padding: 14PX;
  
}
.news_title {
    color: #fff;
    font-size: 16PX;
    font-weight: 400;
    margin: 0;
}
.news_img_wr {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.news_img_wr a {
    width: 104PX;
    height: 24PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12PX;
    background: linear-gradient(90deg, #1B2A55 0%, #9C1F87 100%); border-radius: 12px; outline: 1px #fff solid; outline-offset: -1px;
}
/*video*/
.video {
    margin-top: 64PX;
    color: #fff;
}
.video_wr {
    width: 100%;
    height: auto;
    margin-bottom: 120PX;
    background: linear-gradient(180deg, rgba(156, 31, 135, 0.60) 0%, #51256A 0%, #1B2A55 100%);
}
.video_wr h2 {
    font-size: 18PX;
    font-weight: 600;
    padding: 35PX 0 0 20PX;
}
.video_wr h3 {
    font-size: 14PX;
    font-weight: 500;
    padding: 10PX 0 0 20PX;
}
.video_container {
    margin-top: 50PX;
    padding: 0 40PX;
}
.video_container iframe {
    aspect-ratio: 16/9;
    object-fit: cover;
}
.video_wr p {
    padding: 10PX 40PX;
    line-height: auto;
}
/*advantages*/
.advantages {
    background-color: #fff;
    padding-bottom: 70PX;
}
.advantages_wr {
    display: flex;
    flex-direction: column;
    padding: 15PX 0 0 50PX;
}
.advantages_card h2 {
    font-size: 50PX;
    font-weight: 700;
    color: $base-color;
    margin-bottom: 10PX;
}
.advantages_card p {
    font-size: 16PX;
    font-weight: 500;
    color: $base-color;
    width: 200PX;
    line-height: 28PX;
}
/*team*/
.team {
    color: #fff;
}
.founder_wr h2 {
    font-size: 20PX;
    font-weight: 600;
    padding: 30PX 0 0 20PX;
    margin-bottom: 5PX;
}
.founder_wr span {
    font-size: 16PX;
    padding-left: 20PX;
}
.founder_wr img {
    border-radius: 8PX;
    margin: 25PX 0 0 20PX;
}
.special_team {
    font-size: 40PX;
    font-weight: 700;
    width: 100%;
    text-align: right;
    margin-top: -25PX;
    padding-right: 10PX;
}
.founder_wr p {
    font-size: 16PX;
    font-weight: 500;
    letter-spacing: auto;
    padding: 5PX 20PX;
}
.our_team_wr h2 {
    font-size: 24PX;
    font-weight: 600;
    margin-top: 80PX;
    padding-left: 20PX;
}
.our_team_wr p {
    font-size: 16PX;
    font-weight: 500;
    padding: 10PX 20PX;
}
.team_card_wr {
    display: flex;
    flex-direction: row;
    gap: 20PX;
    flex-wrap: wrap;
    padding-bottom: 130PX;
}
.team_card {
    max-width: 50%;
    width: 152PX;
    border-radius: 8PX;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.team_card img {
    width: 100%;
    max-height: 155PX;
    object-fit: cover;
}
.team_card h3 {
    font-size: 12PX;
    line-height: 14PX;
    margin-top: 5PX;
    padding: 0 10PX;
    margin-bottom: 4PX;
}
.team_card span {
    font-size: 8PX;
    margin-left: 10PX;
}
.team_cont_wr {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 90PX;
    justify-content: space-between;
    
}
.team_cont_wr:nth-child(2) .team_cont_link {
    padding-bottom: 5PX;
}
.team_cont_link {
    display: flex;
    flex-direction: row;
    padding: 0 10PX;
}
.team_cont_link_tel {
    display: flex;
    flex-direction: column;
}

.team_cont_link img {
    width: 10PX;
    object-fit: contain;
}
.team_cont_link a {
    font-size: 9PX;
    margin-left: 5PX;
    font-weight: normal;
    color: #fff;
}
.team_card:nth-child(1) .team_cont_wr{
    background: url('../img/team/back1.jpg') no-repeat;
}
.team_card:nth-child(2) .team_cont_wr{
    background: url('../img/team/back2.jpg') no-repeat;
}
.team_card:nth-child(3) .team_cont_wr{
    background: url('../img/team/back3.jpg') no-repeat;
}
.team_card:nth-child(4) .team_cont_wr{
    background: url('../img/team/back4.jpg') no-repeat;
}
.team_card:nth-child(5) .team_cont_wr{
    background: url('../img/team/back5.jpg') no-repeat;
}
.team_card:nth-child(6) .team_cont_wr{
    background: url('../img/team/back6.jpg') no-repeat;
}
.team_card:nth-child(7) .team_cont_wr{
    background: url('../img/team/back7.jpg') no-repeat;
}
.team_card:nth-child(8) .team_cont_wr{
    background: url('../img/team/back8.jpg') no-repeat;
}
.team_card:nth-child(9) .team_cont_wr{
    background: url('../img/team/back9.jpg') no-repeat;
}
.team_card:nth-child(10) .team_cont_wr{
    background: url('../img/team/back10.jpg') no-repeat;
}
.team_card:nth-child(11) .team_cont_wr{
    background: url('../img/team/back11.jpg') no-repeat;
}
.team_card:nth-child(12) .team_cont_wr{
    background: url('../img/team/back12.jpg') no-repeat;
}
/*partners*/
.partners_banner_wr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 310PX;
    opacity: 1;
    position: relative;
    z-index: 10;
    background: linear-gradient(0deg, rgba(156, 31, 135, 0.60) 0%, #51256A 0%, #1B2A55 100%);
        padding-bottom: 55PX;
}
.partners_banner_back {
    margin-top: 45PX;
    width: 100%;
    min-height: 134PX;
    aspect-ratio: 16/9;
    position: relative;
    z-index: 1;
    opacity: 0.6;
    background: url('../img/partners/back.jpg') no-repeat;
    background-position: center center;
   background-size: contain;
}
.partners_banner_wr h1 {
    max-width: 235PX;
    font-size: 14PX;
    font-weight: 500;
    color: #fff;
    margin: 0PX 0 0 50PX;
}
.prev {
    background-color: #fff;
}
.prev_wr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35PX 0 0 0;
}
.prev_card_wr {
    width: 240PX;
    display: flex;
    flex-direction: column;
    margin: 0 0 60PX 95PX;
}
.prev_card_wr img {
    width: 70PX;
}
.prev_card_wr span {
    font-size: 16PX;
    color: $base-color;
    width: 190PX;
    padding-top: 10PX;
}
.partners_call_form_wr .call_form_back {
    margin-top: -144PX;
    width: 175PX;
    height: 295PX;
    margin-left: -5PX;
}
.partners_call_form_wr .call_form_title_wr {
    margin: 145PX 0 0 20PX;
}
.partners_call_form_wr .call_form_title_wr h3 {
    font-size: 14PX;
    font-weight: 600;
    width: 275PX;
}
.partners_call_form_wr .feedback_form_main {
    height: 510PX;
    margin: -110PX 0 0 40PX;
}
.partners_call_form_wr .feedback-form_main {
    padding: 20PX 0 0 0;
}
.partners_call_form_wr .form-group_main input {
        width: 267PX;
}
.partners_call_form_wr .checkbox-label_main {
    margin-top: 20PX;
}
.partners_call_form_wr .checkbox-label_main span {
    font-size: 10PX;
}
.partners_call_form_wr .submit-button_main {
    margin-top: 16PX;
}
.partners_file_text {
    font-size: 10PX;
    font-weight: 500;
    color: #fff;
    margin: 5PX 0 10PX -35PX;
}
.partners_special_text {
    font-size: 8PX;
    color: #fff;
    padding: 40PX 0 0 0;
    width: 90%;
}
.custom-file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 267PX;
    height: 46PX;
    background: transparent;
    border: 1PX solid #fff;
    border-radius: 8PX;
    color: #fff;
    cursor: pointer;
    
}
.custom-file-upload img {
    margin-right: 10PX;
}
.custom-file-upload span {
    font-size: 12PX;
}
.custom-file-upload:hover {
    background: #0056b3;
}

/* Скрываем стандартный input */
input[type="file"] {
    display: none;
}

#file-name {
    margin-left: 10px;
    color: #666;
    font-size: 14px;
}
