@import '../../node_modules/normalize.css/normalize.css';
// @import '../../node_modules/swiper/swiper.scss';

@import './breakpoints.scss';
@import './mixins.scss';

// ------------------------------------
//      V A R I A B L E S
// ------------------------------------

$font-family: 'Involve', sans-serif;
$font-color: #000;
$base-transition: all 230ms ease;

* {
    box-sizing: border-box;
    outline: none;
}
$base-color: #1B2A55;
$dark_blue: #34517F;

html, body {
    font-family: $font-family;
    color: $font-color;
    font-size: 16PX;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include respond-from('laptop-hdpi') {
        font-size: 18PX;
    }
    @include respond-from('2K') {
        font-size: 21PX;
    }
    @include respond-from('UHD') {
        font-size: 34PX;
    }
}
 body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; 
            margin: 0;
        }
.main {
            flex: 1; 
        }
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}


.container {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    transition: $base-transition;
    @include respond-to('medium') {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// ------------------------------------
//      B L O C K S
// ------------------------------------

@import './blocks/typography.scss';
@import './blocks/buttons.scss';
@import './blocks/icons.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';

.logo {
    display: block;
    max-width: 150px;
    &__img {
        width: 100%;
    }
}
.btn:hover {
    cursor: pointer;
}
// ------------------------------------
//      S E C T I O N S
// ------------------------------------

/*banner*/

.banner {
    width: 100%;
background: url('../img/main/banner.jpg') no-repeat;
background-size: cover;
aspect-ratio: 16 / 9.6;
margin-top: 64PX;
}
.banner_wr {
    color: #fff;
    width: 100%;
}
.banner_position {
    position: relative;
    width: 260PX;
    margin: 0 auto;
    padding-top: 25PX;
}
.banner_wr h1 {
    font-size: 26PX;
    font-weight: 700;
    width: 260PX;
    position: absolute;
    left: 25PX;
}
.banner_btn_wr {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 630%;
    left: 25PX;
}
.banner_btn_write {
    width: 100PX;
    height: 24PX;
    border-radius: 18PX;
    background: transparent;
    border: 1px solid #fff;
    font-size: 10PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10PX;
}
.banner_btn_service {
    width: 100PX;
    height: 24PX;
    border-radius: 18PX;
    background: #fff;
    border: 1px solid #fff;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gradient-text {
 font-size: 10PX;
    
      background-image: linear-gradient(to right, #1B2A55, #9C1F87);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; 
}
.banner_addr_wr {
    position: absolute;
    
    top: 150PX;
}
.banner_addr_wr p {
font-size: 12PX;
font-weight: medium;
}