<header class="header">
    <div class="container">
    <div class="burger-menu">
        <button class="burger-btn">☰</button>
    </div>
    
    <div class="logo">
        <a href="/"><img src="img/logo.svg" alt="Логотип"></a>
    </div>
    
    <a href="tel:+71234567890" class="phone"><img src="img/phone_header_mob.svg" alt=""></a>
</div>
</header>

<div class="menu">
    <ul>
        <li><div class="close-menu">✕</div></li>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Услуги</a></li>
        <li class="dropdown">
            <div class="dropdown-toggle">Продукция</div>
            <ul class="dropdown-content">
                <li><a href="#">Категория 1</a></li>
                <li><a href="#">Категория 2</a></li>
                <li><a href="#">Категория 3</a></li>
            </ul>
        </li>
        <li><a href="#">Контакты</a></li>
    </ul>
</div>

<div class="overlay"></div>