<header class="header">
    <div class="container">
    <div class="burger-menu">
        <button class="burger-btn">☰</button>
    </div>
    
    <div class="logo">
        <a href="/"><img src="img/logo.svg" alt="Логотип"></a>
    </div>
    
    <a href="tel:+71234567890" class="phone"><img src="img/phone_header_mob.svg" alt=""></a>
</div>
</header>

<div class="menu">
    <ul>
        <li><div class="close-menu">✕</div></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Стать партнером</a></li>
        <li><a href="#">Вакансии</a></li>
        <li class="dropdown">
            <div class="dropdown-toggle">Услуги</div>
            <ul class="dropdown-content">
                <li><a href="#">Техническое обслуживание</a></li>
                <li><a href="#">Диагностика</a></li>
                <li><a href="#">Двигатель</a></li>
                <li><a href="#">Ходовая</a></li>
                <li><a href="#">Рулевое управление</a></li>
                <li><a href="#">Тормозная система</a></li>
                <li><a href="#">Выхлопная система</a></li>
                <li><a href="#">Пневмоподвеска</a></li>
                <li><a href="#">Трансмиссия</a></li>
                <li><a href="#">Система охлаждения</a></li>
                <li><a href="#">Система отопления</a></li>
                <li><a href="#">Электрическое оборудование</a></li>
                <li><a href="#">Кузовные работы</a></li>
                <li><a href="#">Шиномонтаж</a></li>
                <li><a href="#">Топливная система</a></li>
                <li><a href="#">Кузов</a></li>
                <li><a href="#">Тахография</a></li>
                <li><a href="#">Радиаторы, интеркулеры, бачки</a></li>
                <li><a href="#">Дополнительное оборудование</a></li>
                <li><a href="#">Специальные услуги</a></li>
                <li><a href="#">Прицепная техника</a></li>
                <li><a href="#">Специальная, разгрузочно-погрузочная техника</a></li>
            </ul>
        </li>
        <li class="header_mob_tel"><img src="img/phone_header_small.svg" alt="">
        <div class="header_mob_tel_wr"><a href="tel:+79056106010" class="phone_header">+7 905 610 60 10, 
</a><a href="tel:+74922466717" class="phone_header">+7 4922 46 67 17</a></div>
        </li>
    </ul>
</div>

<div class="overlay"></div>