<header class="header">
    <div class="container">
    <div class="burger-menu">
        <button class="burger-btn">☰</button>
    </div>
    
    <div class="logo">
        <a href="/"><img src="img/logo.svg" alt="Логотип"></a>
    </div>
    
    <a href="tel:+79056106010" class="phone"><img src="img/phone_header_mob.svg" alt=""></a>
</div>
</header>
<div class="header_desk_wrapper">
<div class="header_desk">
    <div class="logo">
        <a href="/"><img src="img/logo.svg" alt="Логотип"></a>
    </div>
   <div class="menu_desk">
    <ul>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Стать партнером</a></li>
        <li><a href="#">Вакансии</a></li>
        <li class="dropdown_desk">
            <div class="dropdown-toggle_desk">Услуги<img src="img/arrow.svg" alt=""></div>
            <ul class="dropdown-content_desk">
                <li><a href="#">Техническое обслуживание</a></li>
                <li><a href="#">Диагностика</a></li>
                <li><a href="#">Двигатель</a></li>
                <li><a href="#">Ходовая</a></li>
                <li><a href="#">Рулевое управление</a></li>
                <li><a href="#">Тормозная система</a></li>
                <li><a href="#">Выхлопная система</a></li>
                <li><a href="#">Пневмоподвеска</a></li>
                <li><a href="#">Трансмиссия</a></li>
                <li><a href="#">Система охлаждения</a></li>
                <li><a href="#">Система отопления</a></li>
                <li><a href="#">Электрическое оборудование</a></li>
                <li><a href="#">Кузовные работы</a></li>
                <li><a href="#">Шиномонтаж</a></li>
                <li><a href="#">Топливная система</a></li>
                <li><a href="#">Кузов</a></li>
                <li><a href="#">Тахография</a></li>
                <li><a href="#">Радиаторы, интеркулеры, бачки</a></li>
                <li><a href="#">Дополнительное оборудование</a></li>
                <li><a href="#">Специальные услуги</a></li>
                <li><a href="#">Прицепная техника</a></li>
                <li><a href="#">Специальная, разгрузочно-погрузочная техника</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="phone_desk_wr">
<a href="tel:+79056106010" class="phone_desk"><img src="img/phone_header_mob.svg" class="img_phone_desk_desk" alt="">+7 905 610 60 10<img src="img/phone_desk.svg" class="img_phone_tab" alt=""></a><a href="#"><div class="phone_desk_call">Заказать звонок</div></a>


</div>

</div>
</div>
<div class="menu">
    <ul>
        <li><div class="close-menu">✕</div></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Стать партнером</a></li>
        <li><a href="#">Вакансии</a></li>
        <li class="dropdown">
            <div class="dropdown-toggle">Услуги</div>
            <ul class="dropdown-content">
                <li><a href="#">Техническое обслуживание</a></li>
                <li><a href="#">Диагностика</a></li>
                <li><a href="#">Двигатель</a></li>
                <li><a href="#">Ходовая</a></li>
                <li><a href="#">Рулевое управление</a></li>
                <li><a href="#">Тормозная система</a></li>
                <li><a href="#">Выхлопная система</a></li>
                <li><a href="#">Пневмоподвеска</a></li>
                <li><a href="#">Трансмиссия</a></li>
                <li><a href="#">Система охлаждения</a></li>
                <li><a href="#">Система отопления</a></li>
                <li><a href="#">Электрическое оборудование</a></li>
                <li><a href="#">Кузовные работы</a></li>
                <li><a href="#">Шиномонтаж</a></li>
                <li><a href="#">Топливная система</a></li>
                <li><a href="#">Кузов</a></li>
                <li><a href="#">Тахография</a></li>
                <li><a href="#">Радиаторы, интеркулеры, бачки</a></li>
                <li><a href="#">Дополнительное оборудование</a></li>
                <li><a href="#">Специальные услуги</a></li>
                <li><a href="#">Прицепная техника</a></li>
                <li><a href="#">Специальная, разгрузочно-погрузочная техника</a></li>
            </ul>
        </li>
        <li class="header_mob_tel"><img src="img/phone_header_mob_white.svg" alt="">
        <div class="header_mob_tel_wr"><a href="tel:+79056106010" class="phone_header">+7 905 610 60 10, 
</a><a href="tel:+74922466717" class="phone_header">+7 4922 46 67 17</a></div>
        </li>
    </ul>
</div>

<div class="overlay"></div>
<div class="main">
    <div id="callback-popup_header" class="popup-overlay_header">
  <div class="popup-content_header">
    <span class="close-btn">&times;</span>
    <h3>Заявка на ремонт</h3>
     <div id="feedbackForm_main" class="feedback-form_main">
                    <div class="form-group_main">
                        <input type="name" id="name_main" name="name" placeholder="ФИО контактного лица" required>
                        <span class="error-message" id="nameError"></span>
                    </div>
                    <div class="form-group_main">
                        <input type="tel" id="phone_main" name="phone" placeholder="Телефон" required>
                        <span class="error-message" id="phoneError"></span>
                    </div>
                    <div class="form-group_main">
                        <input type="text" id="text" name="text" placeholder="Марка автомобиля" required>
                        <span class="error-message" id="emailError"></span>
                    </div>
                    <div class="form-group_main">
                        <label class="checkbox-label_main">
                            <input type="checkbox" id="agree_main" name="agree" required>
                            <span>Соглашение с политикой конфиденциальности</span>
                        </label>
                        <span class="error-message_main" id="agreeError"></span>
                    </div>
                    <button type="submit" class="submit-button_main">Отправить</button>

                    <div id="formMessage" class="form-message_main"></div>
                </div>
  </div>
</div>